﻿/* DEFAULTS
----------------------------------------------------------*/

html, 
body {min-height:100%; padding:0; margin:0;}

body {
    background-image: url('../GRAPHICS/open-book.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}



a:hover {
    color: #ffed1d;
    text-decoration: none;
}

a:active {
    color: #f37903;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;

    border: 0px solid #ffffff;

    padding: 100px 0 200px 0; 
    position: absolute; 
    top:0; bottom:0; left:0; right:0;
    margin: 0px auto 0px auto;

}

.header {
    width:960px;
    float:left;
    background-color: rgba(23, 6, 32, 0.05);
    margin-top: -100px; height: 100px;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    padding: 20px;
    margin: 0px 0px 0px 0px;
    top:0; bottom:0; left:0; right:0;
    min-height: 100%;
}    
    
.main_left {
    float: left;
    margin: 0px 0px 0px 0px;
    top:0; bottom:0; left:0; right:0;
    width: 400px; //460px
    text-align: left;
    min-height: 100%;    
    max-height: 100%;
    overflow: auto;

}

.main_right {
    float: right;
    padding-left: 60px;
    margin: 0px 0px 0px 0px;
    top:0; bottom:0; left:0; right:0;
    width: 400px;   
    text-align: center;
    overflow: auto;
    min-height: 100%;    
    max-height: 100%;    
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    width: 100%;
    color: darkolivegreen;
    text-align: center;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0.10);
    

    margin-bottom: -200px;
    height: 150px;
}

list {
    width: 50%;
    padding: 10px;
    position: relative; 
    margin: 0px auto 0px auto;

}

table.scroll {
    width: 100%; 
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td, table.scroll thead th {
    width: 15%; 
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table.scroll tbody td:last-child, table.scroll thead th:last-child {
    border-right: none;
}
/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    /*background-color: rgba(75, 108, 158, 0.35); */
    width: 960px;
    height: 40px;
    }

div.menu {
    padding: 0px 0px 0px 0px;
}

    div.menu ul {
        list-style: none;
        padding: 0px;
        width: 830px;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: rgba(75, 108, 158, 0.45); 
            border: 0px #e7f3ab solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                color: #465c71;
                text-decoration: none;
            }

            div.menu ul li a:active {
                background-color: #4B6C9E;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: 500px;
    margin: 0 0 0 10px;
    height: 60px;
    //padding: 10px;
    color: darkolivegreen;    
}

#login_section {
    background-color: rgba(23, 6, 32, 0.50);   
}


#login_buttons {
    float: right;
    font-size: 1.2em;
    display: block;
    text-align: right;
    padding: 10px;
    color: darkolivegreen;
    height: 20px;
    width:200px;
    visibility: visible;
    margin: 5px 5px auto auto;    
}

#login_display {
    float: none;
    font-size: .8em;
    display: block;
    text-align: right;
    //padding: 20px;
    color: darkolivegreen;
    width:260px;
    visibility: collapse;
    vertical-align: middle;
    margin: 0px auto 0px auto;
}

    #login_display a:link {
        color: black;
    }

    #login_display a:visited {
        color: darkolivegreen;
    }

    #login_display a:hover {
        color: darkolivegreen;
    }

#single_order {
    float: right;
    font-size: 1em;
    display: block;
    text-align: left;
    padding: 20px;
    color: darkolivegreen;
    width:400px;
    visibility: collapse;
    vertical-align: middle;
    //margin: 0px auto 0px auto;
    left:0; margin-left:auto; right:0; margin-right:auto;
}    

#order_text input{
    width: 350px;
}
.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}

.page {

}


  
/* form validation message bubble */

input:required:invalid, input:focus:invalid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}
input:required:valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
}

::-webkit-validation-bubble {
    display: inline-block;
    z-index: 2147483647;
    position: absolute;
    opacity: 0.95;
    line-height: 0;
    margin: 0;
    -webkit-text-security: none;
    -webkit-transition: opacity 05.5s ease;
}

::-webkit-validation-bubble-message {
    display: block;
    position: relative;
    top: -4px;
    font: message-box;
    color: black;
    min-width: 50px;
    max-width: 200px;
    border: solid 2px #400;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8ecec), to(#e8cccc));
    padding: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 4px 4px 4px rgba(100,100,100,0.6),
        inset -2px -2px 1px #d0c4c4,
        inset 2px 2px 1px white;
    line-height: normal;
    z-index: 2147483644;
}
	
::-webkit-validation-bubble-arrow {
   display: inline-block;
    position: relative;
    left: 32px;
    width: 16px;
    height: 16px;
    background-color: #f8ecec;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: #400;
    box-shadow: inset 2px 2px 1px white;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
    z-index: 2147483645;
}

::-webkit-validation-bubble-arrow-clipper {
    display: block;
    overflow: hidden;
    height: 16px;
}  